# Scala / sbt
target/
project/target/
lib_managed/
.project
.classpath
.ensime_cache
.worksheet

# IDEA
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# editor
.vscode/

# metals / bloop
.metals/
.bloop/

# coursier cache (optional)
.cache/

# compiled files
*.class
*.tasty

